* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-base-cyan: #065E7C;
  --color-base-lights-cyan: #387E96;
  --color-base-white: #fff;


}

body {
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
  background-color: var(--color-base-white);
}

.page {
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "aside"
  "footer"; 

  height: 100vh;
}

header {
  grid-area: header;

  padding: 1.2rem 2.8rem;
  width: 100%;
  
  background-color: var(--color-base-cyan);
}

header form {
  flex: 1;
}

header > div {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  max-width: 38.2rem;
  margin: 0 auto;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.4rem 1.6rem;
  border: none;
  border-radius: .4rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.20);
  font-family: 'Mulish', sans-serif;
}

.input-wrapper input::placeholder {
  color: var(--color-base-white);
  font-weight: 600;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  object-fit: cover;
  border-radius: 50%;
}

main {
  grid-area: main;
}

main > img {
  width: 100%;
  object-fit: cover;
  display: block;
}

section {
  max-width: 38.2rem;
  margin: 3.4rem auto;
  display: grid;
  row-gap: 3.4rem;
}

h1 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.84rem;
}

section div:first-child {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  max-width: 34.2rem;
}

.buttons {
  display: flex;
  gap: 1.2rem;
}

.buttons button {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  border: none;
  background-color: var(--color-base-cyan);
}

section div:first-child button:hover {
  background-color: #387E96;
  cursor: pointer;
}

section div:first-child button img {
  width: 1.6rem;
}

aside {
  grid-area: aside;
  max-width: 38.42rem;
  margin: 3.4rem auto;
  display: grid;
  row-gap: 3.2rem;
}

.post {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  font-size: 1.4rem;
}

.post img {
  width: 100%;
  max-width: 15rem;
  height: 8.4rem;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.post-content {
  display: grid;
  row-gap: 1.3rem;
}

.post-content h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

footer {
  grid-area: footer;
  display: grid;
  height: 6.4rem;
  place-content: center;

  background-color: #387E96;
  color: var(--color-base-white);
  font-weight: 600;
}

@media (min-width: 770px) {
  .page {
    grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
    grid-template-rows: 7.2rem 1fr max-content;
    row-gap: 4rem;
  }

  header > div {
    max-width: 90%;
  }

  main {
    max-width: 80rem;
    margin: 0 auto;
  }
  
  main > img {
    border-radius: 5px;
  }
  
  section {
    max-width: inherit;
  }

  section div:first-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: inherit;
  }

  aside {
    display: grid;
    row-gap: 3.2rem;
    grid-auto-rows: max-content;
  }
  
  .post {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    font-size: 1.4rem;
  }
  
  .post img {
    width: 100%;
    max-width: 15rem;
    height: 8.4rem;
    object-fit: cover;
    display: block;
    border-radius: 5px;
  }
  
  .post-content {
    display: grid;
    row-gap: 1.3rem;
  }
  
  .post-content h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }
}